.e1_15 { 
	overflow:hidden;
}
.e1_15 { 
	background-color:rgba(255, 255, 255, 1);
	width:1465px;
	height:1040px;
	position:absolute;
	left:-30px;
}
.e1_17 { 
	width:1480px;
	height:1219px;
	position:absolute;
	left:10px;
	top:0px;
	background-image:url(../img/estudo_seguranca_da_informacao_e_seguranca_cibernetica_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_19 { 
	background-color:rgba(6.000000117346644, 30.00000011175871, 54.00000058114529, 1);
	width:651px;
	height:102px;
	position:absolute;
	left:0px;
	top:235px;
}
.e1_18 { 
	color:rgba(255, 255, 255, 1);
	width:586px;
	height:59px;
	position:absolute;
	left:32px;
	top:256px;
	font-family:Rubik One;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e1_20 { 
	color:rgba(255, 255, 255, 1);
	width:141px;
	height:78px;
	position:absolute;
	left:59px;
	top:487px;
	font-family:Arya;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e1_21 { 
	background-color:rgba(27.999998331069946, 86.0000404715538, 147.00000643730164, 0.550000011920929);
	width:369px;
	height:61px;
	position:absolute;
	left:260px;
	top:479px;
}
.e1_23 { 
	background-color:rgba(27.999998331069946, 86.0000404715538, 147.00000643730164, 0.550000011920929);
	width:369px;
	height:61px;
	position:absolute;
	left:229px;
	top:565px;
}
.e1_25 { 
	background-color:rgba(27.999998331069946, 86.0000404715538, 147.00000643730164, 0.550000011920929);
	width:369px;
	height:61px;
	position:absolute;
	left:229px;
	top:651px;
}
.e1_22 { 
	color:rgba(255, 255, 255, 1);
	width:179px;
	height:72px;
	position:absolute;
	left:29px;
	top:554px;
	font-family:Arya;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e1_24 { 
	color:rgba(255, 255, 255, 1);
	width:113px;
	height:72px;
	position:absolute;
	left:32px;
	top:626px;
	font-family:Arya;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e1_26 { 
	background-color:rgba(1.0000000591389835, 42.000001296401024, 106.00000128149986, 1);
	width:497px;
	height:94px;
	position:absolute;
	left:165px;
	top:854px;
}
.e1_29 { 
	color:rgba(255, 255, 255, 1);
	width:265px;
	height:87px;
	position:absolute;
	left:290px;
	top:854px;
	font-family:Arya;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e30_36 { 
	overflow:hidden;
}
.e30_36 { 
	background-color:rgba(5.000000176951289, 22.000000588595867, 52.000000700354576, 1);
	width:1350px;
	height:1263px;
	position:absolute;
	left: -16px;
	top:0px;
}
.e30_44 { 
	background-color:rgba(3.000000058673322, 13.000000175088644, 40.00000141561031, 1);
	width:1668px;
	height:241px;
	position:absolute;
	left:-16px;
	top:0px;
}
.e30_47 { 
	color:rgba(255, 255, 255, 1);
	width:616px;
	height:116px;
	position:absolute;
	left:28px;
	top:241px;
	font-family:Arya;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}
.e30_49 { 
	color:rgba(255, 247.56250709295273, 247.56250709295273, 1);
	width:934px;
	height:90px;
	position:absolute;
	left:28px;
	top:357px;
	font-family:Arya;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e30_50 { 
	color:rgba(255, 249.6875050663948, 249.6875050663948, 1);
	width:216px;
	height:58px;
	position:absolute;
	left:28px;
	top:472px;
	font-family:Arya;
	text-align:left;
	font-size:Symbol(figma mixed)px;
	letter-spacing:0;
}
.e30_51 { 
	background-color:rgba(183.00000429153442, 184.00000423192978, 186.0000041127205, 1);
	width:496px;
	height:67px;
	position:absolute;
	left:38px;
	top:530px;
}
.e30_53 { 
	background-color:rgba(183.00000429153442, 184.00000423192978, 186.0000041127205, 1);
	width:496px;
	height:67px;
	position:absolute;
	left:25px;
	top:692px;
}
.e30_52 { 
	color:rgba(255, 255, 255, 1);
	width:210px;
	height:58px;
	position:absolute;
	left:28px;
	top:617px;
	font-family:Arya;
	text-align:left;
	font-size:Symbol(figma mixed)px;
	letter-spacing:0;
}
.e30_54 { 
	color:rgba(255, 255, 255, 1);
	width:319px;
	height:58px;
	position:absolute;
	left:28px;
	top:779px;
	font-family:Arya;
	text-align:left;
	font-size:Symbol(figma mixed)px;
	letter-spacing:0;
}
.e30_55 { 
	background-color:rgba(183.00000429153442, 184.00000423192978, 186.0000041127205, 1);
	width:644px;
	height:257px;
	position:absolute;
	left:25px;
	top:854px;
}
.e30_61 { 
	background-color:rgba(8.49999949336052, 55.25000050663948, 102.00000151991844, 1);
	width:186px;
	height:68px;
	position:absolute;
	left:90px;
	top:1155px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e30_62 { 
	color:rgba(255, 255, 255, 1);
	width:130px;
	height:90px;
	position:absolute;
	left:118px;
	top:1142px;
	font-family:Arya;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e47_95 { 
	color:rgba(255, 255, 255, 1);
	width:91px;
	height:37px;
	position:absolute;
	left:1100px;
	top:204px;
	font-family:Rubik One;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e47_96 { 
	color:rgb(252, 252, 252);
	width:134px;
	height:37px;
	position:absolute;
	left:932px;
	top:205px;
	font-family:Rubik One;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e47_113 { 
	width:912px;
	height:241px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(../img/depositphotos_318566670_stock_illustration_cybersecurity_and_information_or_network_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e30_46 { 
	color:rgba(255, 255, 255, 1);
	width:884px;
	height:93px;
	position:absolute;
	left:28px;
	top:80px;
	font-family:Rubik One;
	text-align:left;
	font-size:96px;
	letter-spacing:0;
}
.e47_132 { 
	color:rgba(255, 255, 255, 1);
	width:67px;
	height:37px;
	position:absolute;
	left:1245px;
	top:204px;
	font-family:Rubik One;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e30_68 { 
	overflow:hidden;
}
.e30_68 { 
	background-color:rgba(5.000000176951289, 22.000000588595867, 52.000000700354576, 1);
	width:1446px;
	height:3440px;
	position:absolute;
	left: -30px;
	top: 0px;
}
.e47_84 { 
	background-color:rgba(3.000000058673322, 13.000000175088644, 40.00000141561031, 1);
	width:1668px;
	height:241px;
	position:absolute;
	left:-80px;
	top:0px;
}
.e47_88 { 
	width:548px;
	height:317px;
	position:absolute;
	left:40px;
	top:367px;
	background-image:url(../img/seguran_a_informa__o_768x310_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e47_89 { 
	width:656px;
	height:400px;
	position:absolute;
	left:800px;
	top:1105px;
	background-image:url(../img/imagem1.pg.jpeg);
	background-repeat:no-repeat;
	background-size:cover;
}
.e47_98 { 
	color:rgb(254, 253, 255);
	width:91px;
	height:37px;
	position:absolute;
	left:1214px;
	top:204px;
	font-family:Rubik One;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e47_131 { 
	color:rgba(255, 255, 255, 1);
	width:67px;
	height:37px;
	position:absolute;
	left:1334px;
	top:204px;
	font-family:Rubik One;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e55_42 { 
	width:1042px;
	height:240px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(../img/depositphotos_318566670_stock_illustration_cybersecurity_and_information_or_network_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e30_71 { 
	color:rgba(255, 255, 255, 1);
	width:884px;
	height:93px;
	position:absolute;
	left:40px;
	top:74px;
	font-family:Rubik One;
	text-align:left;
	font-size:96px;
	letter-spacing:0;
}
.e47_97 { 
	color:rgba(255, 255, 255, 1);
	width:134px;
	height:37px;
	position:absolute;
	left:1051px;
	top:204px;
	font-family:Rubik One;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
	
}
.teste {
	color:rgb(194, 26, 26);
	width:134px;
	height:37px;
	position:absolute;
	left:-900px;
	top:204px;
	font-family:Rubik One;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.texto1{
	color:rgb(254, 253, 255);
	width:700px;
	height:37px;
	position:absolute;
	left:1500px;
	top:155px;
	font-family:Arial, Helvetica, sans-serif;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.titulo1{
	color:rgb(204, 92, 0);
	width:700px;
	height:37px;
	position:absolute;
	left:1500px;
	top:78px;
	font-family:Arial, Helvetica, sans-serif;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
	font-weight: bold;
}
.titulo2{
	color:rgb(204, 92, 0);
	width:700px;
	height:37px;
	position:absolute;
	left:915px;
	top:900px;
	font-family:Arial, Helvetica, sans-serif;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
	font-weight: bold;
}
.texto2{
	color:rgb(254, 253, 255);
	width:700px;
	height:37px;
	position:absolute;
	left:915px;
	top:1000px;
	font-family:Arial, Helvetica, sans-serif;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.img_texto3{
	width:600px;
	height:400px;
	position:absolute;
	left:15px;
	top:1690px;
	background-image:url(../img/mobile1.pgimg-03.jpg);
	background-repeat:no-repeat;
	background-size:cover;
}
.texto3{
	color:rgb(254, 253, 255);
	width:700px;
	height:37px;
	position:absolute;
	left:1550px;
	top:1600px;
	font-family:Arial, Helvetica, sans-serif;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.titulo3{color:rgb(204, 92, 0);
	width:700px;
	height:37px;
	position:absolute;
	left:1550px;
	top:1490px;
	font-family:Arial, Helvetica, sans-serif;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
	font-weight: bold;
}
.img_texto4{
	width:600px;
	height:400px;
	position:absolute;
	left:800px;
	top:2300px;
	background-image:url(../img/imagem3.pg.jpeg);
	background-repeat:no-repeat;
	background-size:cover;
}
.texto4{
	color:rgb(254, 253, 255);
	width:700px;
	height:37px;
	position:absolute;
	left:920px;
	top:2200px;
	font-family:Arial, Helvetica, sans-serif;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.titulo4{
	color:rgb(204, 92, 0);
	width:700px;
	height:37px;
	position:absolute;
	left:920px;
	top:2100px;
	font-family:Arial, Helvetica, sans-serif;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
	font-weight: bold;
}
.img_texto5{
	width:600px;
	height:400px;
	position:absolute;
	left:30px;
	top:3000px;
	background-image:url(../img/imagem5.pg.jpeg);
	background-repeat:no-repeat;
	background-size:cover;
}
.texto5{
	color:rgb(254, 253, 255);
	width:700px;
	height:37px;
	position:absolute;
	left:1600px;
	top:2880px;
	font-family:Arial, Helvetica, sans-serif;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.titulo5{
	color:rgb(204, 92, 0);
	width:700px;
	height:37px;
	position:absolute;
	left:1600px;
	top:2810px;
	font-family:Arial, Helvetica, sans-serif;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
	font-weight: bold;
}
.e1_2 { 
	overflow:hidden;
}
.e1_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}
.e30_37 { 
	color:rgba(255, 255, 255, 1);
	width:208px;
	height:116px;
	position:absolute;
	left:1196px;
	top:75px;
	font-family:Arya;
	text-align:center;
	font-size:64px;
	letter-spacing:0;
}
.e30_38 { 
	background-color:rgba(0, 12.000000234693289, 37.00000159442425, 1);
	width:1480px;
	height:245px;
	position:absolute;
	left:-30px;
	top:-30px;
}

.e30_66 { 
	background-color:rgba(5.000000176951289, 22.000000588595867, 52.000000700354576, 1);
	width:1440px;
	height:810px;
	position:absolute;
	left:-30px;
	top:214px;
}
.e30_65 { 
	width:1140px;
	height:814px;
	position:absolute;
	left:310px;
	top:210px;
	background-image:url(../img/rectangle_16.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_9 { 
	color:rgba(255, 255, 255, 1);
	width:556px;
	height:600px;
	position:absolute;
	left:44px;
	top:275px;
	font-family:Arya;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e30_67 { 
	background-color:rgba(1.0000000591389835, 42.000001296401024, 106.00000128149986, 1);
	width:395px;
	height:99px;
	position:absolute;
	left:44px;
	top:874px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e47_101 { 
	background-color:rgba(1.0000000591389835, 42.000001296401024, 106.00000128149986, 1);
	width:395px;
	height:99px;
	position:absolute;
	left:485px;
	top:874px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e1_13 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:206px;
	height:116px;
	position:absolute;
	left:138px;
	top:865px;
	font-family:Arya;
	text-align:center;
	font-size:64px;
	letter-spacing:0;
}
.e47_102 { 
	color:rgba(255, 255, 255, 1);
	width:145px;
	height:116px;
	position:absolute;
	left:610px;
	top:865px;
	font-family:Arya;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}
.e47_111 { 
	width:900px;
	height:232px;
	position:absolute;
	left:-30px;
	top:-18px;
	background-image:url(../img/depositphotos_318566670_stock_illustration_cybersecurity_and_information_or_network_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_5 { 
	color:rgba(255, 255, 255, 1);
	width:884px;
	height:93px;
	position:absolute;
	left:19px;
	top:63px;
	font-family:Rubik One;
	text-align:left;
	font-size:96px;
	letter-spacing:0;
}
.e47_104 { 
	overflow:hidden;
}
.e47_104 { 
	background-color:rgba(5.000000176951289, 22.000000588595867, 52.000000700354576, 1);
	width:1440px;
	height:1024px;
	position:absolute;
	left:-20px;
}
.e47_105 { 
	width:1140px;
	height:908px;
	position:absolute;
	left:300px;
	top:116px;
	background-image:url(../img/rectangle_20.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e47_106 { 
	background-color:rgba(0, 12.000000234693289, 37.00000159442425, 1);
	width:1440px;
	height:224px;
	position:absolute;
	left:20px;
	top:-26px;
}
.e47_109 { 
	color:rgba(255, 255, 255, 1);
	width:612px;
	height:59px;
	position:absolute;
	left:43px;
	top:308px;
	font-family:Rubik One;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e47_112 { 
	width:1122px;
	height:203px;
	position:absolute;
	left:0px;
	top:-5px;
	background-image:url(../img/depositphotos_318566670_stock_illustration_cybersecurity_and_information_or_network_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e47_108 { 
	color:rgba(255, 255, 255, 1);
	width:884px;
	height:93px;
	position:absolute;
	left:20px;
	top:40px;
	font-family:Rubik One;
	text-align:left;
	font-size:96px;
	letter-spacing:0;
}
.e47_114 { 
	background-color:rgba(27.999998331069946, 86.0000404715538, 147.00000643730164, 0.550000011920929);
	width:369px;
	height:61px;
	position:absolute;
	left:192px;
	top:512px;
}
.e47_115 { 
	background-color:rgba(27.999998331069946, 86.0000404715538, 147.00000643730164, 0.550000011920929);
	width:369px;
	height:61px;
	position:absolute;
	left:173px;
	top:632px;
}
.e47_116 { 
	color:rgba(255, 255, 255, 1);
	width:101px;
	height:72px;
	position:absolute;
	left:58px;
	top:501px;
	font-family:Arya;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e47_117 { 
	color:rgba(255, 255, 255, 1);
	width:106px;
	height:72px;
	position:absolute;
	left:58px;
	top:632px;
	font-family:Arya;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e47_118 { 
	color:rgba(255, 255, 255, 1);
	width:226px;
	height:45px;
	position:absolute;
	left:255px;
	top:704px;
	font-family:Arya;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e47_119 { 
	background-color:rgba(1.0000000591389835, 42.000001296401024, 106.00000128149986, 1);
	width:224px;
	height:71px;
	position:absolute;
	left:248px;
	top:796px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e47_120 { 
	color:rgba(255, 255, 255, 1);
	width:101px;
	height:72px;
	position:absolute;
	left:310px;
	top:796px;
	font-family:Arya;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e55_3 { 
	overflow:hidden;
}
.e55_3 { 
	background-color:rgba(5.000000176951289, 22.000000588595867, 52.000000700354576, 1);
	width:1440px;
	height:1024px;
	position:absolute;
	left: -30px;
}
.e55_6 { 
	background-color:rgba(3.000000058673322, 13.000000175088644, 40.00000141561031, 1);
	width:1668px;
	height:241px;
	position:absolute;
	left:-172px;
	top:0px;
}
.e55_12 { 
	background-color:rgba(255, 255, 255, 1);
	width:914px;
	height:532px;
	position:absolute;
	left:271px;
	top:342px;
	border-top-left-radius:60px;
	border-top-right-radius:60px;
	border-bottom-left-radius:60px;
	border-bottom-right-radius:60px;
}
.e55_13 { 
	transform: rotate(-0.0638748706483719deg);
	width:914.0005493164062px;
	height:0px;
	position:absolute;
	left:271px;
	top:452px;
}
.e55_13 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e55_15 { 
	color:rgba(0, 0, 0, 1);
	width:398px;
	height:109px;
	position:absolute;
	left:300px;
	top:353px;
	font-family:Arya;
	text-align:left;
	font-size:60px;
	letter-spacing:0;
}
.e55_14 { 
	transform: rotate(-0.2507458010675972deg);
	width:914.0087890625px;
	height:0px;
	position:absolute;
	left:271px;
	top:782px;
}
.e55_14 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e55_19 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:206px;
	height:74px;
	position:absolute;
	left:693px;
	top:791px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e55_21 { 
	background-color:rgba(0, 58.00000034272671, 122.00000032782555, 1);
	width:206px;
	height:74px;
	position:absolute;
	left:924px;
	top:791px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e55_20 { 
	color:rgba(0, 0, 0, 0.7400000095367432);
	width:159px;
	height:78px;
	position:absolute;
	left:715px;
	top:782px;
	font-family:Arya;
	text-align:left;
	font-size:43px;
	letter-spacing:0;
}
.e55_24 { 
	color:rgba(0, 0, 0, 1);
	width:175px;
	height:62px;
	position:absolute;
	left:298px;
	top:577px;
	font-family:Arya;
	text-align:left;
	font-size:34px;
	letter-spacing:0;
}
.e55_25 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:388px;
	height:60px;
	position:absolute;
	left:480px;
	top:585px;
}
.e55_28 { 
	color:rgba(255, 255, 255, 1);
	width:164px;
	height:78px;
	position:absolute;
	left:918px;
	top:790px;
	font-family:Arya;
	text-align:left;
	font-size:43px;
	letter-spacing:0;
}
.e55_43 { 
	width:1166px;
	height:246px;
	position:absolute;
	left:-18px;
	top:-5px;
	background-image:url(../img/depositphotos_318566670_stock_illustration_cybersecurity_and_information_or_network_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e55_7 { 
	color:rgba(255, 255, 255, 1);
	width:884px;
	height:93px;
	position:absolute;
	left:31px;
	top:74px;
	font-family:Rubik One;
	text-align:left;
	font-size:96px;
	letter-spacing:0;
}
